@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: small;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.car-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-img {
  flex: 0 0 auto;
  width: 350px;
  height: 200px;
  margin-right: 10px;
  scroll-snap-align: start;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

button {
  border-radius: 20px;
  border: 1px solid #474fa0;
  background-color: #474fa0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:hover {
  background-color: #fe5b3d;
  border: 1px solid #fe5b3d;
}
